#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat';
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  padding-bottom: 50px;
}

h2{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h3 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 900;
  padding-bottom: 15px;
}

p{
  font-family: "Ubuntu";

}

.container-fluid{
  padding: 2% 15%;
}

/* navbar */

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3rem;
}

.navbar{
  padding: 0 0 35px;
}

.nav-link{
  font-family: "Ubuntu";
  font-size: 1.25rem;
}

/* title */
.title-image-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-image{
  transform: rotate(23deg);
  width:60%;
}

/* Features */

#features{

}

.feature-box{
  text-align: center;
  padding: 120px 100px 70px 100px;
}

.check-icon{
  color : #ff4c68;
  padding-bottom: 25px;
}

.check-icon:hover{
  color: red;
  padding-bottom: 25px;
  transform: scale(105%);
  transition: transform .2s;
}

.bullseye-icon{
  color : #ff4c68;
  padding-bottom: 25px;
}

.bullseye-icon:hover{
  color: red;
  padding-bottom: 25px;
  transform: scale(105%);
  transition: transform .2s;
}

.heart-icon{
  color : #ff4c68;
  padding-bottom: 25px;
}

.heart-icon:hover{
  color: red;
  padding-bottom: 25px;
  transform: scale(105%);
  transition: transform .2s;
}

/* Testimonials */

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}

/* Press */
#press{
  background-color: #ef8172;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin:20px 20px 100px;
}
